.section-portfolio {
  padding-bottom: 120px;
}

.section-portfolio .col-md-4:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-portfolio .btn {
  margin-top: 10px;
}

@media only screen and (max-width: 991px) {
  .section-portfolio {
    padding-bottom: 90px;
  }

  .section-portfolio .col-md-4:nth-last-child(-n + 3) {
    margin-bottom: 30px;
  }

  .section-portfolio .col-md-4:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .section-portfolio {
    padding-bottom: 60px;
  }

  .section-portfolio .col-xs-6 {
    width: 100%;
    padding: 0;
  }

  .section-portfolio .col-xs-6:nth-child(odd) {
    padding-right: 7.5px;
  }

  .section-portfolio .col-xs-6:nth-child(even) {
    padding-left: 7.5px;
  }

  .portfolio-item,
  .section-portfolio .col-md-4:nth-last-child(-n + 3) {
    margin-bottom: 15px;
  }

  .section-portfolio .col-md-4:nth-last-child(-n + 2) {
    margin-bottom: 15px;
  }
}
