.service h4 {
  margin: 25px 0;
  font-size: 24px;
  font-weight: 700;
}

.service p {
  color: #000;
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .service h4 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px) {
  .service h4 {
    margin: 10px 0;
  }
  .site-section p {
    margin-bottom: 25px;
  }
}
